In [1]:
a=5

In [2]:
print(a)

5

In [3]:
var1=2
var2=5.0
var3=True
var4="Machine Learning"
print("Value of Var1:",var1)
print("Value of Var2:",var2)
print("Value of Var3:",var3)
print("Value of Var4:",var4)

Value of Var1: 2
Value of Var2: 5.0
Value of Var3: True
Value of Var4: Machine Learning

In [4]:
type(var1)

int

In [5]:
type(var2)

float

In [6]:
type(var3)

bool

In [7]:
type(var4)

str

In [8]:
if var1>1:
    print("Bigger than 1")

Bigger than 1

In [9]:
x=10
y=12
# if x is greater than y
if x>y:
    print("x>y")
# if x is lesser than y
elif x<y:
    print("x<y")
else:
    print("x=y")

x<y

In [10]:
x=int(input("Enter the number:"))
y=int(input("Enter the number:"))
# if x is greater than y
if x>y:
    print("x>y")
# if x is lesser than y
elif x<y:
    print("x<y")
else:
    print("x=y")

Enter the number:34
Enter the number:34
x=y

In [11]:
x=10
isGreater=true if x>15 else False
print(isGreater)

False

In [12]:
Numbers=range(1,6)
print(Numbers)

range(1, 6)

## For LOOP

In [13]:
for i in Numbers:
    print(i)

1
2
3
4
5

## While Loop

In [14]:
i=1
while i<5 :
    print(i)
    i=i+1
print('done')

1
2
3
4
done

## Function

In [18]:
def addframe(a,b):
    return a+b

In [19]:
result=addframe(2,3)
result

5

In [20]:
result=addframe("python","workshope")
result

'pythonworkshope'

In [21]:
def addelement(a,b=5):
    return a+b

In [22]:
addelement(5)

10

In [23]:
addelement(2,5) ## b=5 the defalut value of b

7

## Working With Collection

In [24]:
emptylist=[]   ## Empty list

In [25]:
batsmen=['Rohit','Hardik','Dhawan','Kohli','Rahane','Rayudu','Dhoni']

In [27]:
batsmen[0]

'Rohit'

In [29]:
batsmen[-1]

'Dhoni'

In [38]:
## Scilicing list

In [39]:
batsmen[:4]

['Rohit', 'Hardik', 'Dhawan', 'Kohli']

In [30]:
len(batsmen)

7

In [31]:
bowler=['Bumrah','Shami','Bhuvi','Kuldeep','Chahal']
all_players=batsmen+bowler
all_players

['Rohit',
 'Hardik',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [32]:
'Bumrah' in bowler

True

In [33]:
'Hardik' in bowler

False

In [34]:
all_players.index('Dhoni')

6

In [37]:
all_players.reverse()
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Hardik',
 'Rohit']

## Tuple

In [40]:
odiDebut=('Kolhi',2008)
odiDebut

('Kolhi', 2008)

In [41]:
odiDebut[0]

'Kolhi'

In [44]:
tup1[1]=2009

NameError: name 'tup1' is not defined

In [45]:
players=tuple(all_players)
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Hardik',
 'Rohit')

## Set

In [46]:
setofnumbers={1,2,1,3,4,3}
setofnumbers

{1, 2, 3, 4}

In [47]:
wc2011={'Dhoni','Sehwag','Tendulkar','Gambhir','Kolhi','Raina','Yuvraj','Yusuf'}
wc2015={'Dhoni','Dhawan','Rohit','Rahan','Kolhi','Raina','Rayudu','Jadeja'}

In [49]:
wc2011.union(wc2015)

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kolhi',
 'Rahan',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

## To find the list of batsmen to payed both

In [50]:
wc2011.intersection(wc2015)

{'Dhoni', 'Kolhi', 'Raina'}

## New batsmen in 2015 wc

In [51]:
wc2011.difference(wc2015)

{'Gambhir', 'Sehwag', 'Tendulkar', 'Yusuf', 'Yuvraj'}

In [52]:
wc2015.difference(wc2011)

{'Dhawan', 'Jadeja', 'Rahan', 'Rayudu', 'Rohit'}

## Dictionary

In [55]:
wcwinners={1975:'West Indies',
           1979:'West Indies',
           1983:'India',
           1987:'Australia',
           1991:'Pakistan',
           1996:'shree Lanka',
           1999:'Australia',
           2003:'Australia',
           2007:'Australia',
           2011:'India'}

In [57]:
wcwinners[1983]

'India'

In [59]:
wcwinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'shree Lanka', 'Australia', 'Australia', 'Australia', 'India'])

In [61]:
set(wcwinners.values())

{'Australia', 'India', 'Pakistan', 'West Indies', 'shree Lanka'}

In [63]:
wcwinners[2015]='Australia'

In [64]:
wcwinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'shree Lanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

### Dealing with Strings

In [65]:
string0='python'
string1="Machine Learning"
string2="""This is a multiline string"""
print(string0)
print(string1)
print(string2)

python
Machine Learning
This is a multiline string

In [66]:
string0.lower()

'python'

In [67]:
string0.upper()

'PYTHON'

In [68]:
string1.lower()

'machine learning'

In [69]:
string1.upper()

'MACHINE LEARNING'

In [71]:
tokens=string1.split(' ')
tokens

['Machine', 'Learning']

## Functional Programming

In [74]:
intlist=[1,2,3,4,5,6,7,8,9]

In [76]:
squarelist=[]
for x in intlist:
    squarelist.append(pow(x,2))
print(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
def square_me(x):
    return x*x

In [78]:
squarelist=map(square_me,intlist)
list(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
squarelist=map(lambda x:x*x,intlist)
list(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Filter

In [81]:
evenints=filter(lambda x:x%2==0,intlist)
list(evenints)

[2, 4, 6, 8]

In [82]:
oddints=filter(lambda x:x%2!=0,intlist)
list(oddints)

[1, 3, 5, 7, 9]

### Modules and packages

In [86]:
import math
math.sqrt(16)

4.0

In [89]:
from random import sample
sample(range(0,11),3)

[9, 5, 2]

### other Feature

In [92]:
import random
randomlist=random.sample(range(0, 100), 20)
randomlist

[97, 71, 8, 64, 38, 80, 86, 85, 94, 12, 56, 52, 22, 81, 63, 45, 0, 11, 79, 7]

In [93]:
from statistics import mean,median
def getMeanandMedian(listnum):
    return mean(listnum),median(listnum)

In [95]:
mean,median=getMeanandMedian(randomlist)
print("Mean:",mean,"Median:",median)

Mean: 52.55 Median: 59.5

In [1]:
list1=[10,20,30,"neha"]
list2=[10,20,30,"neha"]

In [2]:
list1+list2

[10, 20, 30, 'neha', 10, 20, 30, 'neha']

In [10]:
l1=[1,2,3,4,[2,4,5,7]]
print(type(l1))

<class 'list'>

In [6]:
l2=[3,4,5]
print(sum(l2))

12

In [12]:
print "\nhello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("\nhello")? (2550249823.py, line 1)

In [13]:
s3=s1*s2

NameError: name 's1' is not defined

In [14]:
s1=[1,2,3]
s2=[2,3,4]
s3=s1*s2

TypeError: can't multiply sequence by non-int of type 'list'

In [15]:
s1=(1,2,3)
s2=(2,3,4)
s3=s1*s2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [16]:
s1={1,2,3}
s2={2,3,4}
s3=s1*s2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [18]:
s1=34
s2=2
s3=s1*s2
print(s3)

68

In [19]:
s1=34
s2=2
s3=s1+s2
print(s3)

36

In [20]:
s1=34
s2=2
s3=s1.s2
print(s3)

AttributeError: 'int' object has no attribute 's2'

In [22]:
s1=34
s2=2
s3=s1-add-(s2)
print(s3)

NameError: name 'add' is not defined

In [24]:
name=["Puja","sujata","swati"]
print(name[-1][-1])

i

In [26]:
float('inf')

inf

In [27]:
float('nan')

nan

In [28]:
float('56'+'78')

5678.0

In [29]:
float('12+34')

ValueError: could not convert string to float: '12+34'

In [30]:
2**(3**2)

512

In [31]:
(2**3)**2

64

In [32]:
3**2

9

In [33]:
2**3**2

512

In [34]:
2**9

512

In [35]:
(22//3) ## ans in string

7

In [41]:
22/3    ## ans in float

7.333333333333333

In [39]:
(22%3)  ## reminder

1